<div class="shadow-md rounded-2xl max-w-60 min-w-60 w-full bg-[#fdfcf9] cursor-pointer transition-all duration-300 ease-in-out hover:shadow-orange-200 border border-orange-100">
  <div
    class="relative h-50 overflow-hidden rounded-t-2xl bg-cover bg-center"
    [ngStyle]="{ 'background-image': 'url(' + image + ')' }">
    <wave color="#fdfcf9" class="absolute top-40 w-full"></wave>
    <div *ngIf="isAdopted" class="absolute top-3 right-3 h-9.5 p-1 rounded-4xl bg-white/90 shadow">
      <i class="fa-regular fa-circle-check text-3xl text-green-600 transform mt-0.15"></i>
    </div>
  </div>
  <div class="relative h-30 flex flex-col gap-2 items-center justify-center mb-4 p-4 pb-8">
    <h3 class="text-xl font-bold text-orange-900 text-center drop-shadow-sm">{{ title }}</h3>
    <p class="text-gray-700 text-sm text-center">{{ description }}</p>
  </div>
</div>