<div class="flex flex-col items-center justify-center
            w-[120px] h-[125px] md:w-[220px] lg:h-[125px] xl:w-[250px] xl:h-[175px]
            p-6 bg-[#fffff7] 
            shadow-lg rounded-3xl
            transform hover:scale-105 hover:bg-[#fffffa] transition-all duration-300">
    <div class="mb-4">
        <i class="fas {{ icon }} text-3xl lg-text-3xl xl:text-6xl text-[#7a4141]"></i>
    </div>

    <div class="text-center -mb-4">
        <h3 class="sm:text-sm md:text-lg xl:text-xl font-semibold text-[#7a4141]">{{ boxTitle }}</h3>
    </div>
</div>