<div class="flex flex-col min-h-screen bg-[#f4f8e6]">

  <!-- FILTER -->
  @if (showFilter) {
    <div class="bg-[#edf1dc] shadow-sm border-b border-orange-50/10 p-4 mb-6">
      <div class="max-w-7xl mx-auto">
        <div class="flex flex-col md:flex-row md:items-center justify-between gap-4">
          <!-- Header -->
          <h1 class="text-2xl font-bold text-gray-800">Mascotas en Adopción</h1>
          
          <!-- Filtres -->
          <div class="flex flex-wrap gap-3">
            <div class="relative">
              <input 
                type="text" 
                placeholder="Buscar mascotas..."
                class="pl-10 pr-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-transparent">
              <i class="fa-solid fa-search absolute left-4 top-4.5 text-gray-400"></i>
            </div>
            
            <select class="px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-transparent">
              <option value="">Todas las especies</option>
              <option *ngFor="let specie of species" [value]="specie.id">{{ specie.name }}</option>
            </select>
            
            <select class="px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-transparent">
              <option value="">Estado</option>
              <option value="Available">Disponible</option>
              <option value="Adopted">Adoptado</option>
              <option value="FosterHome">En acogida</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  }

  <!-- CARD LIST -->
  <div class="grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-4 
              gap-y-16 p-4 gap-x-30
              mx-auto">
    <app-card
      class="flex justify-center items-center"
      
      *ngFor="let animal of paginatedAnimals"
      [title]="animal.name"
      [species]="animal.species.name"
      [image]="animal.image_url || ''"
      [description]="animal.description || 'Sin descripción disponible'"
      [age]="(animal.birthdate || 'Sin datos')"
      [vaccinated]="animal.vaccinated ? 'Vecunado' : 'No Vacunado'"
    ></app-card>
  </div>

  <!-- PAGINATION -->
  @if (showPagination) {
    <div class="flex items-center justify-center 
                mt-10 p-2 w-full gap-10
                bg-[#edf1dc] shadow-sm ">
      <button
          (click)="goToPage(1)"
          [disabled]="currentPage === 1"
            class="px-4 py-2 
                  enabled:cursor-pointer rounded-sm 
                  enabled:hover:bg-gray-500/10 disabled:opacity-50 
                  transition-all duration-300 ease-in-out">
        <i class="fa-solid fa-angles-left"></i>
      </button>

      <div class="flex items-center gap-5">
        <button
            (click)="previousPage()"
            [disabled]="currentPage === 1"
            class="px-4 py-2 
                  enabled:cursor-pointer rounded-sm 
                  enabled:hover:bg-gray-500/10 disabled:opacity-50 
                  transition-all duration-300 ease-in-out">
          <i class="fa-solid fa-angle-left"></i>
        </button>

        <span class="self-center text-lg font-medium">{{ currentPage }} de {{ totalPages }}</span>

        <button
            (click)="nextPage()"
            [disabled]="currentPage === totalPages"
            class="px-4 py-2 
                  enabled:cursor-pointer rounded-sm 
                  enabled:hover:bg-gray-500/10 disabled:opacity-50 
                  transition-all duration-300 ease-in-out">
          <i class="fa-solid fa-angle-right"></i>
        </button>
      </div>

      <button
          (click)="goToPage(totalPages)"
          [disabled]="currentPage === totalPages"
            class="px-4 py-2 
                  enabled:cursor-pointer rounded-sm 
                  enabled:hover:bg-gray-500/10 disabled:opacity-50 
                  transition-all duration-300 ease-in-out">
        <i class="fa-solid fa-angles-right"></i>
      </button>
    </div>
  }
</div>